table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #444444;
    padding: 7px;
    text-align: center;
}
thead tr {
    background-color: #252525;
    color: #ffffff;
}
tbody tr:nth-child(2n) {
    background-color: #cdcdcd;
}
tbody tr:nth-child(2n+1) {
    background-color: #efefef;
}

button > a {
    text-decoration-line: none;
}

#pageMove {
    display: flex;
    justify-content: center;
}

.pageMoveButton {
    color: #252525;
    text-decoration-line: none;
    margin: 10px;
}

#pageNumberButton {
    color: #252525;
    text-decoration-line: none;
    display: flex;
    align-items: center;
}

#pageOneButton {
    color: #252525;
    text-decoration-line: none;
    display: flex;
    align-items: center;
}