<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <script src="/js/detail.js" defer></script>
  <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
  <script th:inline="javascript">
    const id = [[${bulletinBoard.id}]];
    const page = [[${page}]];
  </script>
  <h1>Post List</h1>
  <button>
    <a href="/">index</a>
  </button>
  <button onclick="listReq()">페이지목록</button>
  <button onclick="updateReq()">수정</button>
  <button onclick="deleteReq()">삭제</button>
  <br><br>
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
        <th>contents</th>
        <th>image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td th:text="${bulletinBoard.id}"></td>
        <td th:text="${bulletinBoard.title}"></td>
        <td th:text="${bulletinBoard.writer}"></td>
        <td th:text="${bulletinBoard.createdTime}"></td>
        <td th:text="${bulletinBoard.hits}"></td>
        <td th:text="${bulletinBoard.contents}"></td>
        <td th:if="${bulletinBoard.fileAttached == 1}" th:each="fileName: ${bulletinBoard.storedFileName}">
          <img th:src="@{|/upload/${fileName}|}" alt="">
        </td>
      </tr>
    <tbody>
  </table>
</body>
</html>